.profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.data img{
    width: 100%;
    height: 75%;
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.middle{
    display: flex;
    justify-content: space-between;
}
.ndate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

}
.name{
    margin-left: 10px;
    margin-bottom: 0;
}
.date{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    color: rgb(95, 88, 88);
    height: auto;
}
.read{
    margin-bottom: 0;
    margin-right:5px;
}
.iconB{
    border: 0;
    margin-left: 5px;
}
.r{
    margin-bottom: 0;
}
.title{
    margin-top: 0;
    margin-bottom: 0;
}
.position{
    margin-top: 0;
    margin-bottom: 0;
}
.middle{
    margin-bottom: 0px;
}


