.product-container{
    color: black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    position: relative;
}
.data-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background-color: rgb(246, 243, 240);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}
.spent{
    background-color: rgb(174, 179, 179);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(45, 26, 220);
    color: rgb(43, 50, 150);

}
.mark{
    color: black;
    background-color: rgb(174, 179, 179);
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}
.markAs{
    text-decoration: underline;
    border: 0;
    color: blue;
}
.toast{
    border: 0;
}
.titleStyle{
    background-color: rgb(176, 229, 233);
    padding: 8px;
    border-radius: 8px;
}